<section class="card">
  <a href="/post/{{id}}">
    <header>{{user}}</header>

    <div class="card-body">

      <div class="post-header">
        {{posts.user}}
        {{posts.date}}
      </div>
      <div>{{posts.description}}</div>

    </div>
  
</section>