<section class="card">
  <a href="/post/{{id}}">{{post.name}}</a>
  <div class="card-body">

    <header>{{post.title}} By: {{post.name}} on {{post.date}}</header>

    <div>
      <h2 id="createTitle"></h2>
      <p id="createDescription"></p>
      <p id="createDate"></p>
    </div>

    <div class="card-body">
      <p>{{post.description}}</p>
    </div>
  </div>

</section>