<section class="card">
  <a href="/post/{{id}}">
    <header>{{user}}</header>

    <div class="card-body">

        <header>{{post.title}} By: {{post.name}} on {{post.date}}</header>

        <div class="card-body">
          <p>{{post.description}}</p>
        </div>

      <div>{{posts.description}}</div>

    </div>
  
</section>