<section class="container">
  <h3 class="dasboard-name">{{dasboard.name}}</h3>
  <section class="flex-row justify-center">
    {{#each dasboard.posts as |post|}}
    <section class="card">
      <a href="/post/{{id}}">
        <header>{{title}}</header>

        <div class="card-body">
          <img src="/images/{{filename}}" alt="{{description}}">
          <p>By: {{artist}}</p>
        </div>
      </a>
    </section>
    {{/each}}
  </section>
</section>

