<section class="container">
  {{#if logged_in}}
  <h3 class="dasboard-name">{{dasboard.name}}</h3>
  <section class="flex-row justify-center">
    
    {{#each post.id as |post|}}
    <section class="card">
      <a href="/post/{{id}}">
        <header>{{title}} By: {{name}} on {{date}}</header>

        <div class="card-body">
          <p>{{description}}</p>
        </div>
      </a>
    </section>
    {{/each}}


    {{else}}
    <h3> You must be signed in first</h3>
    <p> Use the sign up link if you don't have an account</p>
    <a href="/login">Got to login</a>
  </section>
</section>